<div class="mt-4">
  <div>
    <a href="/me/stored/musics">Your Music</a>
    <h3>Deleted Music</h3>
  </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col" colspan="2">Created-Time</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{math @index '+' 1}}</th>
                <td>{{this._doc.name}}</td>
                <td>{{this._doc.description}}</td>
                <td>{{this._doc.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore">Restore</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._doc._id}}" data-target="#delete-course-modal">Permanently Deleted</a>
                </td>
            </tr>
            {{else}}
              <tr>
                <td colspan="5" class="text-center">
                  Empty Bin
                  <a href="/me/stored/musics">Your Music</a>
                </td>
              </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course music --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Music ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

 <form name="delete-course-form" method="POST"></form>
 <form name="restore-course-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];// lấy element form thông qua name của form
        var restoreForm = document.forms['restore-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');// lấy tất cả các button delete dưới dạng mảng
        var restoreBtn = $('.btn-restore');

        // When dialog confirm clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseId = button.data('id');

        });
        // When delete course clicked
        btnDeleteCourse.onclick = function () {
            deleteForm.action = `/courses/${courseId}?_method=DELETE`;// truyền  url chứa id của từng khóa học vào action và với method DELETE
            deleteForm.submit();// và submit form .
        }

        // Restore btn clicked
        restoreBtn.click(function (event) {
          event.preventDefault();
          //var button = $(event.relatedTarget)
          courseId = $(this).data('id');
          
          restoreForm.action = `/courses/restore/${courseId}?_method=PATCH`;// truyền  url chứa id của từng khóa học vào action và với method PATCH
          restoreForm.submit();// và submit form .
        });



        {{!-- const btnsRestore = document.querySelectorAll('.btn-restore');
        btnsRestore.forEach(e => {
        e.addEventListener('click', (event) => {
          event.preventDefault();
          const courseId = e.target.dataset.id;
          const restoreForm = document.forms["restore-course-form"];
          restoreForm.action = `/courses/restore/${courseId}?_method=PATCH`;
          restoreForm.submit();
        });
      }); --}}

    });
</script>
